@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url('./../img/hero-bg-e49a8e86f714.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 50px;
  gap: 45px;
}

header {
  width: 100%;
  height: 72px;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

header>.logo {
  width: 45px;
  height: 45px;
  margin-left: 12px;
}

header>.logo>a>img {
  width: 43px;
  height: 43px;
}

header>nav {
  height: 40px;
  display: flex;
  align-items: center;
}

header>nav>ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
}


header>nav>ul>li>a {
  text-decoration: none;
  padding: 11px 15.1px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.15px;
}

header>nav>ul>li>a:hover {
  opacity: 0.75;
}

.inputAndButtonsWrapper {
  height: 40px;
  margin: 0 16px 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.inputWrappers {
  width: 326px;
  height: 32px;
  padding: 0 8px;
  background-color: rgba(46, 55, 74, 0.82);
  border: 1px solid rgb(87, 96, 106);
  border-radius: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.inputWrappers>img {
  width: 18.5px;
  height: 18.5px;
  position: relative;
  top: 1px;
  left: -1px;
}

.inputWrappers>p {
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  font-weight: 400;
}

.inputWrappers>span {
  width: 20px;
  height: 20px;
  font-size: 12px;
  color: rgb(107, 115, 123);
  border: 1px solid rgb(87, 96, 106);
  border-radius: 4px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singIn,
.signUp {
  text-decoration: none;
  padding: 8.5px 8px;
  color: #fff;
  line-height: 15px;
  margin-left: 15px;
}

.signUp {
  border: 0.8px solid rgb(208, 215, 222);
  border-radius: 6px;
  margin-left: 8px;
}


#realSearchBar {
  position: fixed;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  width: 92%;
  height: 110px;
  padding: 0 10px;
  background-color: #fff;
  border-radius: 10px;
  display: none;
  z-index: 10;
}

.searchPart,
.syntaxTips {
  position: relative;
  width: 100%;
  height: 49%;
  display: flex;
  align-items: center;
  gap: 50px;
}

.searchPart>img {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 15px;
}

.searchPart>input {
  width: 100%;
  height: 32px;
  padding-left: 40px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 6px;
}

.searchPart>input:focus {
  border: 2px solid rgb(9, 105, 218);
}

.syntaxTips {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(168, 168, 168, 0.31);
}

.syntaxTips>a {
  text-decoration: none;
  color: rgb(9, 105, 218);
  font-size: 12px;
  margin-left: 20px;
}

.syntaxTips>a:hover {
  text-decoration: underline;
}

.syntaxTips>i {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  transition: 0.3s;
}

.syntaxTips>i::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 18px;
  height: 2px;
  background-color: #fff;
  border-radius: 10px;
}

.syntaxTips>i::before {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 18px;
  height: 2px;
  background-color: #fff;
  border-radius: 10px;
}

.syntaxTips>i:hover {
  background: #aeaeae;
}

.syntaxTips>i:hover::after,
.syntaxTips>i:hover::before {
  background: #000;
}

main {
  position: relative;
  width: 80%;
  width: 1280px;
  height: 1089px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
}

.userWrapper {
  max-width: 90%;
  min-height: 40vh;
  background-color: #13192e;
  background-color: red;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  z-index: 999;
}

.users {
  width: 200px;
  height: 220px;
  padding: 20px 0;
  background-color: #161b22;
  background-color: rgba(22, 27, 34, 0.8);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.users>#userName {
  color: #dcdcdc;
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;

}

.profLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.users a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 8px 12px;
  background-color: #000;
  border-radius: 5px;
  line-height: 20px;
  font-family: "Poppins", sans-serif;
}

.imageUser {
  width: 80px;
  height: 80px;
  padding: 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageUser>img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}


/* ------------------------  ------------------------*/

.LineImage {
  width: 437px;
  height: 643px;
  position: absolute;
  top: 10px;
  left: 40px;
}

.satelliteImage {
  width: 320px;
  height: 208.7px;
  position: absolute;
  top: 0;
  right: 0;
  animation: satellite 10s ease infinite;
}

@keyframes satellite {

  0%,
  100% {
    top: 0;
  }

  50% {
    top: 3px;
  }
}

.gitHubUniverse {
  position: absolute;
  top: 333px;
  left: 108px;
  padding: 14px 20px;
  width: 535px;
  height: 75px;
  border: 0.8px solid #424b5b;
  border-radius: 100px;
  margin-bottom: 24px;
  background: linear-gradient(90deg, rgba(1, 1, 1, 0.6) 0%, rgba(1, 1, 1, 0.461139) 59.76%, rgba(1, 1, 1, 0) 100%);
  display: flex;
  align-items: center;
  gap: 16px;
}

.gitHubUniverse>img {
  width: 44px;
  height: 44px;
}

.gitHubUniverse_Description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
}

.gitHubUniverse_Description>span:first-child {
  color: #fff;
  /* font-size: 18px; */
  font-weight: 600;

}

.gitHubUniverse_Description>span:nth-child(2) {
  color: rgb(110, 118, 129);
  font-weight: 500;
}

.arrow {
  width: 25px;
  height: 25px;
  position: relative;
  right: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrow>i:nth-child(1) {
  position: absolute;
  width: 15px;
  height: 4px;
  background-color: #fff;
  border-radius: 30px;
  top: 50%;
  right: 0;
  transform: translate(0, 100%) rotate(-45deg);
}

.arrow>i:nth-child(2) {
  position: absolute;
  width: 15px;
  height: 4px;
  background-color: #fff;
  border-radius: 30px;
  top: 50%;
  right: 0;
  transform: translate(0, -100%) rotate(45deg);
}

.arrow>i:nth-child(3) {
  position: absolute;
  width: 0px;
  height: 4px;
  background-color: #fff;
  border-radius: 30px;
  top: 50%;
  right: 3.5px;
  transition: 0.2s;
}

.arrow:hover>i:nth-child(3) {
  width: 20px;
}