@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");

@font-face {
  font-family: Mona;
  src: url(./../fonts/mona-sans.woff2);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
}

body {
  background-color: #0c1015;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url('./../img/hero-bg-e49a8e86f714.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 50px;
  gap: 45px;
}

header {
  width: 100%;
  height: 72px;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

header>.logo {
  width: 45px;
  height: 45px;
  margin-left: 12px;
}

header>.logo>a>img {
  width: 43px;
  height: 43px;
}

header>nav {
  height: 40px;
  display: flex;
  align-items: center;
}

header>nav>ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
}


header>nav>ul>li>a {
  text-decoration: none;
  padding: 11px 15.1px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.15px;
}

header>nav>ul>li>a:hover {
  opacity: 0.75;
}

.inputAndButtonsWrapper {
  height: 40px;
  margin: 0 16px 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.inputWrappers {
  width: 326px;
  height: 32px;
  padding: 0 8px;
  background-color: rgba(46, 55, 74, 0.82);
  border: 1px solid rgb(87, 96, 106);
  border-radius: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.inputWrappers>img {
  width: 18.5px;
  height: 18.5px;
  position: relative;
  top: 1px;
  left: -1px;
}

.inputWrappers>p {
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
  font-weight: 400;
}

.inputWrappers>span {
  width: 20px;
  height: 20px;
  font-size: 12px;
  color: rgb(107, 115, 123);
  border: 1px solid rgb(87, 96, 106);
  border-radius: 4px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singIn,
.signUp {
  text-decoration: none;
  padding: 8.5px 8px;
  color: #fff;
  line-height: 15px;
  margin-left: 15px;
}

.signUp {
  border: 0.8px solid rgb(208, 215, 222);
  border-radius: 6px;
  margin-left: 8px;
}

#realSearchBar {
  position: fixed;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  width: 92%;
  height: 110px;
  padding: 0 10px;
  background-color: #fff;
  border-radius: 10px;
  display: none;
  z-index: 10;
}

.searchPart,
.syntaxTips {
  position: relative;
  width: 100%;
  height: 49%;
  display: flex;
  align-items: center;
  gap: 50px;
}

.searchPart>img {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 15px;
}

.searchPart>input {
  width: 100%;
  height: 32px;
  padding-left: 40px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 6px;
}

.searchPart>input:focus {
  border: 2px solid rgb(9, 105, 218);
}

.syntaxTips {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(168, 168, 168, 0.31);
}

.syntaxTips>a {
  text-decoration: none;
  color: rgb(9, 105, 218);
  font-size: 12px;
  margin-left: 20px;
}

.syntaxTips>a:hover {
  text-decoration: underline;
}

.syntaxTips>i {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
  transition: 0.3s;
}

.syntaxTips>i::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 18px;
  height: 2px;
  background-color: #fff;
  border-radius: 10px;
}

.syntaxTips>i::before {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 18px;
  height: 2px;
  background-color: #fff;
  border-radius: 10px;
}

.syntaxTips>i:hover {
  background: #aeaeae;
}

.syntaxTips>i:hover::after,
.syntaxTips>i:hover::before {
  background: #000;
}

main {
  position: relative;
  width: 1280px;
  height: 1460px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
}

.userWrapper {
  max-width: 90%;
  min-height: 40vh;
  background-color: rgba(12, 16, 21, 0.6);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  overflow-y: hidden;
  z-index: 999;
}


.users {
  width: 200px;
  height: 220px;
  padding: 20px 0;
  background: linear-gradient(315deg, #8f574f, #161b22);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  box-shadow: rgba(17, 24, 35, 0.4) 0px -23px 25px 0px inset,
    rgba(17, 24, 35, 0.55) 0px -36px 30px 0px inset,
    rgba(17, 24, 35, 0.3) 0px -79px 40px 0px inset,
    rgba(17, 24, 35, 0.5) 0px 2px 1px,
    rgba(17, 24, 35, 0.3) 0px 4px 2px,
    rgba(17, 24, 35, 0.3) 0px 8px 4px,
    rgba(17, 24, 35, 0.3) 0px 16px 8px,
    rgba(17, 24, 35, 0.1) 0px 32px 16px;
}

.users>#userName {
  color: #ffffff;
  color: #000000;
  width: 90%;
  font-size: 15px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* SaadSubhaniTheProgrammerVersion */

.profLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.users a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 8px 12px;
  background-color: #000;
  box-shadow: inset -0.5px -0.5px 8px #8f574f,
    2px 2px 5px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  line-height: 20px;
  font-family: "Poppins", sans-serif;
}

.users a:hover {
  background-color: #8f574f;
  box-shadow: inset -0.5px -0.5px 8px rgba(0, 0, 0, 0.9),
    2px 2px 5px #8f574f;
  color: #000;
  font-weight: 600;

}

.imageUser {
  width: 80px;
  height: 80px;
  padding: 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageUser>img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}


/* ------------------------  ------------------------*/

.LineImage {
  width: 437px;
  height: 643px;
  position: absolute;
  top: 10px;
  left: 40px;
  pointer-events: none;
}

.doubleArrows {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(#dd7df78f, transparent, transparent);
  top: 43.5%;
  left: 53px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.doubleArrows>img {
  width: 17px;
  height: 17px;
}

.line {
  width: 3.2px;
  height: 750px;
  border-radius: 10px;
  position: absolute;
  top: 49%;
  left: 52px;
  pointer-events: none;
  background: linear-gradient(#d2a8ff, #a371f7 10%, #196c2e 70%, #2ea043 80%, #56d364);
}

.satelliteImage {
  width: 320px;
  height: 208.7px;
  position: absolute;
  top: 0;
  right: 0;
  animation: satellite 10s ease infinite;
}

@keyframes satellite {

  0%,
  100% {
    top: 0;
  }

  50% {
    top: 3px;
  }
}

.gitHubUniverse {
  position: absolute;
  top: 333px;
  left: 108px;
  padding: 14px 20px;
  width: 535px;
  height: 75px;
  border: 0.8px solid #424b5b;
  border-radius: 100px;
  margin-bottom: 24px;
  background: linear-gradient(90deg, rgba(1, 1, 1, 0.6) 0%, rgba(1, 1, 1, 0.461139) 59.76%, rgba(1, 1, 1, 0) 100%);
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.gitHubUniverse>img {
  width: 44px;
  height: 44px;
  pointer-events: none;
}

.gitHubUniverse_Description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  pointer-events: none;
}

.gitHubUniverse_Description>span:first-child {
  color: #fff;
  font-weight: 600;
}

.gitHubUniverse_Description>span:nth-child(2) {
  color: rgb(110, 118, 129);
  font-weight: 500;
}

.arrow {
  position: relative;
  width: 24px;
  height: 24px;
  right: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrow>img {
  width: 24px;
  height: 24px;
  border-radius: 20px;
}

.mainTexts {
  width: 100%;
  position: absolute;
  top: 428px;
  left: 110px;
}

.mainTexts>h1 {
  color: #fff;
  font-size: 80px;
  font-weight: 600;
  margin-bottom: 50px;
  font-family: Mona;
}

.mainTexts>h2 {
  color: rgb(125, 133, 144);
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
  margin-bottom: 60px;
  font-family: Mona;
}

.emailandTrial {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.mainTexts>.emailandTrial>input {
  padding: 0 20px;
  width: 300px;
  height: 50px;
  font-size: 22px;
  font-weight: 500;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Mona;
}

.mainTexts>.emailandTrial>input::placeholder {
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-family: Mona;
}

.mainTexts>.emailandTrial>p {
  padding: 14px 24px 16px;
  width: 194px;
  height: 50px;
  color: #fff;
  font-family: Mona;
  font-size: 15px;
  font-weight: 600;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  background: linear-gradient(180deg, rgba(183, 52, 179, 0.15) 0%, rgba(164, 46, 156, 0) 100%), #6e40c9
}